.home-container {
	box-sizing: border-box;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../assets/backgroundImage.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	color: white;
	justify-content: center;
	flex-direction: column;
	gap: 1%;
	color: var(--color-darkwhite);
	padding-left: 15%;
}
.home-container h2 {
	font-size: 3.5rem;
}
.color-primary {
	color: var(--color-primary);
}
.contact-button {
	width: 0vw;
	height: 3.5rem;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	border: 2px solid var(--color-darkwhite);
	color: var(--color-darkwhite);
	font-size: 1.5rem;
	overflow-x: hidden;
	transition: color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.contact-button:hover {
	color: var(--color-primary);
	background: var(--color-darkwhite);
	border: 3px solid var(--color-primary);
	cursor: pointer;
}
.hid {
	overflow: hidden;
}
.home-explore {
	position: absolute;
	bottom: 5vh;
	left: 50%;
}
.home-explore p {
	left: -50%;
	position: relative;
}
