@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Poppins:wght@400;500;700;800&display=swap");
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	--color-primary: #378cf3;
	--color-darkwhite: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
